---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
---
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8">
<body>
	<Navbar currentPage="bag" />
</body>
</html>
