---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout currentPage="bag">
	<div class="h-[70vh] grid place-items-center">
		<h1 class="text-center">Muy pronto...</h1>
	</div>
</BaseLayout>
