---
export const prerender = false;

import type { StrapiResponse } from '../services/Strapi';
import { actions } from 'astro:actions';
import "../styles/global.css";
import BaseLayout from '../components/BaseLayout.astro';
import MainBtn from '../components/MainBtn.astro';
import ProductCarousel from '../components/ProductCarousel.astro';
import { getFeaturedProducts } from '../utils/product.ts';

const currentPage = "home";
const env = import.meta.env;
const srcPath = env.PUBLIC_STRAPI_BASE_URL + env.PUBLIC_STRAPI_MEDIA_ENDPOINT + 'hero_7bb6b30282.png';

const { data, error }= await Astro.callAction(actions.getProducts, { featured: true });
if (error) {
	return;
}
const strapiResponse = data as StrapiResponse;
const { popularProducts, newProducts } = getFeaturedProducts(strapiResponse);
---

<BaseLayout currentPage={ currentPage }>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	</head>
	<main class="flex flex-col gap-y-10 px-4 pb-16 pt-2 mb-12 bg-white-300 rounded-b-4xl">
		<div class="grid gap-2">
			<h1 class="text-8xl text-center font-[Anton] uppercase tracking-wide">Blance</h1>
			<h3 class="text-center text-gray-500 tracking-wider font-semibold">Lencería que abraza lo que sos</h3>
		</div>
		<img src={srcPath} alt="Mujer en lencería" class="aspect-3/4" />
		<a href="/tienda">
			<MainBtn text="Explorá nuestros artículos" />
		</a>
	</main>
	<div class="flex flex-col gap-y-4">
		<ProductCarousel carouselTitle="Articulos populares" products={popularProducts}/>	
		<ProductCarousel carouselTitle="Nuevos ingresos" products={newProducts}/>	
		<div class="px-6 mt-8 mb-12">
			<h5 class="text-lg font-medium text-center mb-4">¿No encontraste lo que buscabas?</h5>
			<a href="/tienda">
				<MainBtn text="Ver todos los productos" />
			</a>
		</div>
	</div>
</BaseLayout>

