---
import type { StrapiResponse } from '../services/Strapi';
import { actions } from 'astro:actions';
import { Image } from 'astro:assets';
import heroImage from '../images/hero.webp';
import BaseLayout from '../components/BaseLayout.astro';
import MainBtn from '../components/MainBtn.astro';
import ProductCarousel from '../components/ProductCarousel.astro';
import { getFeaturedProducts } from '../utils/product.ts';
import Card from '../components/Card.astro';

const currentPage = "home";

const { data, error }= await Astro.callAction(actions.getProducts, { featured: true });

if (error) {
	return;
}

const strapiResponse = data as StrapiResponse;
const { popularProducts, newProducts } = getFeaturedProducts(strapiResponse);
---

<BaseLayout currentPage={currentPage}>
	<main class="flex flex-col gap-y-8 px-4 pb-8 pt-2 mb-12 bg-white-300 rounded-b-3xl">
		<div class="grid">
			<h1 class="text-8xl text-center font-[Anton] uppercase tracking-wide">Blance</h1>
			<h3 class="text-center text-gray-500 tracking-wider font-semibold">Lencería que abraza lo que sos</h3>
		</div>
		<Image src={heroImage} alt="Mujer en lencería" class="aspect-3/4 rounded-3xl" />
		<a href="/tienda">
			<MainBtn text="Explorá nuestros artículos" />
		</a>
	</main>
	<div class="flex flex-col gap-y-4">
		<ProductCarousel carouselTitle="Articulos populares" products={popularProducts}/>	
		<ProductCarousel carouselTitle="Nuevos ingresos" products={newProducts}/>	
		<div class="px-6 mt-8 mb-12">
			<h5 class="text-lg font-medium text-center mb-4">¿No encontraste lo que buscabas?</h5>
			<a href="/tienda">
				<MainBtn text="Ver todos los productos" />
			</a>
		</div>
	</div>
	<Card />
</BaseLayout>

