---
export const prerender = false;

import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import ProductGrid from '../components/ProductGrid.astro';
import StoreHeader from '../components/StoreHeader.astro';

const view = 'single';
---

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="UTF-8">
</head>
<body>
	<Navbar currentPage="store" />
	<StoreHeader />
	<ProductGrid id="grid" />
</body>
</html>

