---
import '../styles/global.css';
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';

interface Props {
	currentPage: string;
	title?: string;
	description?: string;
}

const strapiBaseURL = import.meta.env.PUBLIC_STRAPI_BASE_URL;
const { currentPage = "home", title, description } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="preconnect" href={strapiBaseURL} />
		{ title 
			? <title>{title}</title> 
			: <title>Blance Lencería</title> }
		{ description 
			? <meta name="description" content={description} /> 
			: <meta name="description" content="Tienda de lencería." /> }
  </head>
  <body>
		<div class="wrapper">
			<Navbar currentPage={currentPage} />
			<slot />
			<Footer />
		</div>
  </body>
</html>

<style>
	.wrapper {
		max-width: 640px;
		margin-inline: auto;
	}
</style>
