---
import '../styles/global.css';
import Navbar from './Navbar.astro';

const { currentPage } = Astro.props || 'home';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Navbar currentPage={currentPage} />
    <slot />
  </body>
</html>

<style>
	body {
		max-width: 900px;
		margin-inline: auto;
	}
</style>
