---
import SvgBody from '../components/SvgBody.astro';
import SvgFire from '../components/SvgFire.astro';
---
<div class="py-6 px-6 m-4 rounded-3xl bg-white-100 grid gap-3 shadow-sm border-1 border-white-200">
	<p class="text-sm text-gray-300">Desde la comodidad hasta el deseo</p>
	<h2 class="text-4xl">Prendas pensadas para que conectes tu cuerpo y esencia</h2>
	<div class="flex h-2 w-full justify-between items-center bg-rose-200 mt-10 mb-8">
		<div class="rounded-full bg-white min-h-fit p-3 border-1 border-gray-100">
			<SvgBody />
		</div>
		<div class="rounded-full bg-white min-h-fit p-3 border-1 border-gray-100">
			<SvgFire />
		</div>
	</div>
</div>
