---
import type { CartData } from '../actions/index';
import { getProductsCost, getShippingCost } from '../utils/cart';

interface Props {
	cart: CartData;
}

const { cart } = Astro.props as Props;

const productsCost = getProductsCost(cart);
const shippingCost = getShippingCost();
---
{ cart && 
		<ul id="summary" class="px-6 py-5 border-1 border-gray-100 rounded-3xl shadow-sm grid gap-1">
			{ cart && <h4 class="text-2xl tracking-tight mb-2">Resumen de compra</h4> }
			<li id="summary-products" class="text-md tracking-tight"><span>Productos: ${productsCost}</span></li>
			<li id="summary-shipping" class="text-md tracking-tight"><span>Envío: ${shippingCost}</span></li>
			<li id="summary-total" class="text-lg font-semibold tracking-tight mt-4"><span>Total: ${productsCost + shippingCost}</span></li>
		</ul> 
} 

