---
import CartProduct from '../components/CartProduct.astro';
import MainBtn from '../components/MainBtn.astro';
import CartDetail from '../components/CartDetail.astro';
import { actions } from 'astro:actions';

const { data, error } = await Astro.callAction(actions.getCart);
if (error) {
	console.error(error);
} 
---
	{ data && Object.keys(data).length !== 0
		?	<main class="grid m-4 gap-y-12">
				<h1 class="text-2xl text-gray-800 tracking-tight pl-2">Veamos lo que agregaste al carrito hasta ahora:</h1>
				{data?.map((p) => <CartProduct cartProductData={p} />)}
				<CartDetail cart={data} />
			</main>
		: <main class="grid text-center min-h-120 place-content-center">
				<h1 class="text-xl font-medium mb-4">No tenés productos en el carrito.</h1> 
				<MainBtn text="Visitá nuestra tienda online" href="/tienda"><MainBtn>
			</main>
	}
