---
import Category from '../services/Category.ts';

interface Props {
	currentCategory: string;
}

const categoryService = await Category.init();
const categoryNames = await categoryService.getAllNames();

const { currentCategory } = Astro.props;
---
<ul id="container" data-current-category={currentCategory} class="flex gap-3 items-center text-xs text-gray-500 overflow-x-auto w-full h-fit pb-2">
	<li class="category">
		<a href="/tienda">todo</a>
	</li> 

	{ categoryNames.map ((n: string) => (
		<li class="category">
			<a href=`/tienda/categoria/${n}`>{n}</a>
		</li> 
	))}
</ul>

<script> 
	const container = document.getElementById('container');
	const categories = document.getElementsByClassName('category');
	const currentCategory = container.dataset['currentCategory'];

	function updateCategoryStyle() {
		for (let c of categories) {
			const name = c.textContent.trim();
			const anchor = c.children[0];
			
			if (currentCategory === undefined) {
				anchor.classList.add('bg-dark', 'text-white');
				break;
			} else if (currentCategory === name) {
				anchor.classList.add('bg-dark', 'text-white');
				break;
			}
		}
	}
		
	function updateCategorySorting() {
		const array = Array.from(categories);

		let index = array.findIndex(e => e.textContent.trim() === currentCategory);
		if (index === -1) {
			index = 0;
		}

		const element = array.splice(index, 1)[0];
		array.unshift(element);
		
		container.replaceChildren(...array);
	}
	
	updateCategorySorting();
	updateCategoryStyle();
</script>

<style>
	li, a { 
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px; 
		min-width: 72px;
		border-radius: 24px;
	}
	a { 
		text-transform: capitalize; 
		transition: background-color .4s ease-out; 
	}
</style>

