---
import '../styles/global.css';

interface Props {
	hexCode: string;
}

const { hexCode } = Astro.props as Props;
---

<style define:vars={{ hexCode }}>
	div {
		background-color: var(--hexCode);
	}
</style>

<div class="w-4 h-4 rounded-full"></div>

