---
import '../styles/global.css';

interface Props {
	hex: string;
	big: boolean;
}

const { hex = '', big = false } = Astro.props as Props;
---
{ big
	? <div class="color w-5 h-5 rounded-full"></div>
	: <div class="color w-4 h-4 rounded-full"></div>
}



<style define:vars={{hex}}>
	div { background-color: var(--hex); }
</style>


