---
interface Props {
	hex: string;
	slug: string;
	isBig?: boolean;
}

const { hex = '', slug = '#', isBig = true } = Astro.props as Props;
const productURL = `/tienda/producto/${slug}`;
---

{ isBig
	? <div class="color w-5 h-5 rounded-full"><a class="block w-full h-full" href={productURL} ></a></div>
	: <div class="color w-4 h-4 rounded-full"></div>
}


<style define:vars={{hex}}>
	div { background-color: var(--hex); }
</style>

