---
import FooterCategories from './FooterCategories.astro';
import SvgWhatsapp from './SvgWhatsapp.astro'
import SvgInstagram from './SvgInstagram.astro'
import SvgFacebook from './SvgFacebook.astro'
---
<footer class="grid gap-12 py-8 px-5 rounded-t-3xl bg-white-200 mt-24">
	<div class="grid gap-4">
		<h5 class="text-xl">Buscá productos por categoría:</h5>
		<FooterCategories />
	</div>
	<div class="flex justify-between">
		<div>
			<h6 class="text-sm mb-3">Enlaces útiles</h6>
			<div class="flex flex-col text-xs underline gap-3 text-gray-700">
				<a href="#">Volver arriba</a>
				<a href="/tienda">Ir a la tienda</a>
				<a href="/cartera">Ir al carrito</a>
			</div>
		</div>
		<div>
			<h6 class="text-sm mb-4">Nuestras redes sociales</h6>
			<div class="flex gap-6">
				<SvgWhatsapp />
				<SvgInstagram />
				<SvgFacebook />
			</div>
		</div>
	</div>
	<p class="text-gray-700 text-center text-sm">¿En qué podemos ayudarte? <a href="#" class="underline">Hablemos</a></p>
</footer>
