---
import Color from './Color.astro';

interface Props {
	name: string;
	price: number;
	imageSrc: string;
	colors: Array[];
	isSmall: boolean;
}

const { 
	name = 'Artículo de lencería',
	price = 5000,
	imageSrc = '/src/images/product-big.jpg',
	colors = ['red', 'green', 'blue'],
	isSmall = false
} = Astro.props as Props;

let articleClasses = 'product-card';
if (isSmall) {
	articleClasses += ' small';
}

// TODO: implement colors
---

<article class={articleClasses}>
  <img class="product-image" src={imageSrc} />
  <div class="product-info">
    <div>
      <h5 class="product-name">{name}</h5>
      <h5 class="product-price">${price}</h5>
    </div>
    <div class="color-options">
      <Color hex="#FF0000" />
      <Color hex="#008000" />
      <Color hex="#0000FF" />
    </div>
  </div>
</article>

<style>

.product-card {
  background-color: var(--color-white-300);
  border-radius: 1.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
	transition: all .4s ease-in-out;
	
	>.product-image {
  	border-radius: 1.5rem;
	}

	>.product-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-white-400);
		padding: 0.75rem;
		border-radius: 1rem;
		margin-top: 0.75rem;
	}

	.product-name {
		font-size: 0.875rem;
		color: var(--color-dark);
	}

	.product-price {
		font-size: 0.75rem;
		color: var(--color-gray-300);
	}

	.color-options {
		display: flex;
		gap: 1rem;
	}
}

.product-card.small {
  min-height: 280px;
  min-width: 140px;
  margin-bottom: 0.5rem;
  background-color: transparent;
  border-radius: 1.5rem;
  padding: 0;
  margin-bottom: 1rem;

  >.product-image {
    border-radius: 1.5rem;
  }

  >.product-info {
    margin: 0;
		padding: .4rem;
		background-color: transparent;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: start;
  }

  .product-name {
    font-size: 0.875rem;
    color: var(--color-dark);
  }

  .product-price {
    font-size: 0.75rem;
    color: var(--color-gray-300);
  }

  .color-options {
    display: flex;
    gap: 1rem;
		padding-top: .4rem;
  }
}

</style>
