---
import { actions } from 'astro:actions';
import ProductCard from './ProductCard.astro';
import ArrowRight from './ArrowRight.astro';

interface Props {
	carouselTitle: string;
}

const products = (await Astro.callAction(actions.getProducts, {productName:''}))?.data;

const { carouselTitle } = Astro.props as Props;
---

<div class="m-4">
	{ carouselTitle && 
		<div class="flex justify-between items-center mb-4">
			<h2 class="text-3xl">{carouselTitle}</h2>
			<a href="#"><ArrowRight /></a>
		</div> 
	}
	<div class="flex flex-row gap-x-4 overflow-x-scroll pb-2">
		{ products?.data?.map(p => <ProductCard name={p.name} price={p.price} colors={p.colors} isSmall=true /> )		
	</div>
</div>

