---
import type { Image } from '../services/Product.ts';

interface Props {
	images: Image[];
}

const { images = [] } = Astro.props as Props;
---

<div class="flex items-center justify-center">
	<button id="btn-back" class="absolute grid content-center justify-center bg-dark/30 text-white p-4 rounded-full w-4 h-4 left-5 shadow-xs">
		<svg class="pr-[2px]" fill="white" height="16px" width="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.006 512.006" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M388.419,475.59L168.834,256.005L388.418,36.421c8.341-8.341,8.341-21.824,0-30.165s-21.824-8.341-30.165,0 L123.586,240.923c-8.341,8.341-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251 c5.461,0,10.923-2.091,15.083-6.251C396.76,497.414,396.76,483.931,388.419,475.59z"></path> </g> </g> </g></svg>
	</button>
	<div class="grid place-items-center">
		<img id="image-container" class="rounded-[16px] aspect-3/4 bg-white-500 min-w-full min-h-[436px]" />
		<div class="flex gap-2 relative bottom-6">
			{ images.map( () => <div class="indicator w-2 h-2 rounded-full"></div>) }
		</div>
	</div>
	<button id="btn-next" class="absolute grid content-center justify-center bg-dark/30 text-white p-4 rounded-full w-4 h-4 right-5 shadow-xs">
		<svg class="pl-[2px]"  fill="white" height="16px" width="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.005 512.005" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M388.418,240.923L153.751,6.256c-8.341-8.341-21.824-8.341-30.165,0s-8.341,21.824,0,30.165L343.17,256.005 L123.586,475.589c-8.341,8.341-8.341,21.824,0,30.165c4.16,4.16,9.621,6.251,15.083,6.251c5.461,0,10.923-2.091,15.083-6.251 l234.667-234.667C396.759,262.747,396.759,249.264,388.418,240.923z"></path> </g> </g> </g></svg>
	</button>
</div>

<script is:inline define:vars={{images}}>

	const imageContainer = document.getElementById('image-container');
	const indicators = document.getElementsByClassName('indicator')
	const btnBack = document.getElementById('btn-back');
	const btnNext = document.getElementById('btn-next');
	
	const srcArray = [];
	const origin = 'http://localhost:1337'; // strapi
	for (const i of images) {
		srcArray.push(origin + i.url);
	}

	let currentImageIndex = 0;
	
	function updateIndicators() {
		for (const i of indicators) {
			i.style.backgroundColor = '#a1a1a1'
		}
		indicators[currentImageIndex].style.backgroundColor = 'black';
	}
	
	function updateImage() {

		if (currentImageIndex > srcArray.length - 1) { 
			currentImageIndex = 0;
		} else if (Math.sign(currentImageIndex) === -1) { // check for negative numbers in currentImageIndex
			currentImageIndex = srcArray.length - 1;
		}

		imageContainer.src = srcArray[currentImageIndex];
 	
		updateIndicators();

	}
	
	btnBack.addEventListener('click', () => {
		currentImageIndex -= 1;
		updateImage();
	});

	btnNext.addEventListener('click', () => {
		currentImageIndex += 1;
		updateImage();
	});

	updateImage();
		
</script>
