---
import type { ProductData } from '../services/Product.ts';
import ProductCard from './ProductCard.astro';
import ArrowRight from './ArrowRight.astro';

interface Props {
	carouselTitle: string;
	products: ProductData[];
}

const { carouselTitle, products = [] } = Astro.props as Props;
---

<div class="m-4">
	{ carouselTitle && 
		<div class="flex justify-between items-center mb-4">
			<h2 class="text-3xl">{carouselTitle}</h2>
			<a href="#"><ArrowRight /></a>
		</div> 
	}
	<div class="flex flex-row gap-x-4 overflow-x-auto pb-4">
		{ products?.map( p => <ProductCard productData={p} isSmall={true} /> )		
	</div>
</div>

