---
interface Props {
	description: string;
	composition: string;
}

const { description, composition } = Astro.props as Props;
---

<div class="my-30 rounded-4xl">
  <div class="flex gap-4 items-center justify-between rounded-4xl bg-white-200 h-2 tracking-wide text-sm">
    <button id="btn-description" class="bg-black text-white rounded-4xl py-3 w-full min-h-[52px]">Descripción</button>
    <button id="btn-composition" class="bg-white-200 rounded-4xl py-3 w-full border-[.1px] border-gray-100 min-h-[52px]">Composición</button>
  </div>
	<div class="min-h-60 p-3 mt-6 text-gray-300 font-light text-sm/7">
		<p id="product-description">{description}</p>
		<p hidden id="product-composition">{composition}</p>
	</div>
</div>


<script type="module">

	const descriptionElement = document.getElementById('product-description');
	const compositionElement = document.getElementById('product-composition');
	const elementsArray = [descriptionElement, compositionElement];

	const btnDescription = document.getElementById('btn-description');
	const btnComposition = document.getElementById('btn-composition');
	const btnArray = [btnDescription, btnComposition];

	function switchData(elementsArray) {
		elementsArray.forEach(e => {
			e.hasAttribute('hidden')
			? e.removeAttribute('hidden')
			: e.setAttribute('hidden', '');
		})
	} 
	
	function updateStyles(btnArray) {
		btnArray.forEach(b => { 
			if (b.classList.contains('bg-black')) {
				b.classList.remove('bg-black', 'text-white');
				b.classList.add('bg-white-200');
			} else {
				b.classList.remove('bg-white-200');
				b.classList.add('bg-black', 'text-white');
			}
		})
	}
	
	btnArray.forEach(b => {
		b.addEventListener('click', () => {
			switchData(elementsArray);
			updateStyles(btnArray);
		})
	})

</script>

<style>
	button {
		transition: background-color .3s ease-in-out;
	}
</style>

