---
import '../styles/global.css';
import MagGlass from './MagGlass.astro';
---

<form class="border-1 border-gray-100 rounded-full flex justify-between" action="/tienda">
	<input class="text-xs pl-6 py-5 w-full" type="text" id="q" name="q" placeholder="¿Qué producto estás buscando?">
	<button class="bg-dark text-white rounded-r-full min-w-16 grid place-items-center" type="submit"><MagGlass /></button>
</form>

