---
interface Props {
	sizes: array;
}

const { availableSizes = [] } = Astro.props;
---

<div class="grid h-20 w-28">
	<label class="text-xs text-gray-600 text-center">Talles disponibles:</label>
	<select class="grid place-items-center border-[.1px] border-gray-100 shadow-sm rounded-full px-[20px] h-[44px]">
		{ availableSizes.map( s => <option>{s}</option>) }
	</select>
</div>


<style>

	select {
		appearance: base-select;
		text-transform: uppercase;
	}

	select>option {
		text-transform: uppercase;
	}

</style>
