---
---

<form id="form" class="w-full">
	<select id="select" class="w-full text-xs text-gray-300 font-light border-[.5px] border-solid border-gray-200 rounded-full px-6 place-items-center justify-content-center h-full">
		<option value="asc">Menor precio primero</option>
		<option value="desc">Mayor precio primero</option>
	</select>
</form>


<script>

		import { actions } from 'astro:actions';

		document.addEventListener('DOMContentLoaded', async () => {
			const form = document.getElementById('form');
			const select = document.getElementById('select');

			const currentSorting = (await actions.getSorting()).data;

			select.addEventListener('input', async (e) => {
				const selectedValue = e.target.value;
				const { data, error } = await actions.setSorting(selectedValue);
				window.location.reload()
			});
			
			for (let opt of select.children) {
				opt.value === currentSorting && opt.setAttribute('selected', '');
			}

		});

</script>


<style>
	select {
		appearance: base-select;
	}
</style>

