---
---

<form id="form" class="w-full">
	<select id="select" class="w-full text-xs text-gray-300 font-light border-1 border-gray-100 rounded-full px-6 place-items-center justify-content-center h-full">
		<option value="asc">Menor precio primero</option>
		<option value="desc">Mayor precio primero</option>
	</select>
</form>


<script>
		import { actions } from 'astro:actions';

		document.addEventListener('DOMContentLoaded', async () => {
			const select = document.getElementById('select') as HTMLSelectElement;

			select.addEventListener('input', (e: Event) => {
				const selectElement = e.target as HTMLSelectElement;
				const selectedValue = selectElement.value;
				actions.setSorting(selectedValue);
				window.location.reload()
			});
			
			const currentSorting = (await actions.getSorting()).data;
			const optionsElements = select.children as HTMLOptionElement[];
			for (const option of optionsElements) {
				if (option.value === currentSorting) {
					option.setAttribute('selected', '');
				}
			}
		});
</script>


<style>

	select {
		appearance: base-select;
	}

</style>

