---
---

<form id="form" class="w-full">
	<select id="select" class="w-full text-xs text-gray-300 font-light border-1 border-gray-100 rounded-full px-6 place-items-center justify-content-center h-full" aria-label="Cambiar orden de los productos">
		<option value="asc">Menor precio primero</option>
		<option value="desc">Mayor precio primero</option>
	</select>
</form>


<script>
	import { actions } from 'astro:actions';

	document.addEventListener('DOMContentLoaded', async () => {
		const select = document.getElementById('select') as HTMLSelectElement;

		const optionElements = [] as HTMLOptionElement[];
		for (const children of select.children) {
			if (children.tagName === 'OPTION') {
				optionElements.push(children as HTMLOptionElement);
			}
		}
	
		const currentSorting = (await actions.getSorting()).data;

		for (const option of optionElements) {
			if (option.value === currentSorting) {
				option.setAttribute('selected', '');
			}
		}

		select.addEventListener('input', async (e: Event) => {
			const selectElement = e.target as HTMLSelectElement;
			const selectedValue = selectElement.value;
			await actions.setSorting(selectedValue);
			window.location.reload();
		});

	});
</script>


<style>
	select { appearance: base-select; }
</style>

