---
import SearchBar from './SearchBar.astro';
import ViewBtn from './ViewBtn.astro';
import Categories from './Categories.astro';
import SortSelector from './SortSelector.astro';

const { currentCategory } = Astro.props;
---

<style>
	select { appearance: base-select; }
</style>

<header class="flex flex-col gap-y-6 pb-1 px-4 max-w-160 mx-auto">
	<SearchBar />
	<div class="flex justify-between gap-x-4 h-12">
		<ViewBtn />
		<SortSelector />
	</div>
	<Categories currentCategory={currentCategory} />
</header>

