---
import SingleView from './SingleView.astro';
import DoubleView from './DoubleView.astro';
const view = await Astro.session.get('');
---

<style>
	button { transition: background-color .4s ease-out; }	
</style>

<div class="flex gap-5 border-[.2px] border-gray-200 rounded-full">
	<button id="single" class="w-12 rounded-full grid place-items-center"> <SingleView /> </button>
	<button id="double" class="w-12 rounded-full grid place-items-center"> <DoubleView /> </button>
</div>

<script define:vars={{ view }}>
	document.addEventListener('DOMContentLoaded', () => {
		console.log(view);

		const singleBtn = document.getElementById('single');
 		const doubleBtn = document.getElementById('double');
		
		function updateBtnStyles() {
			if (localStorage.getItem('view') === 'single') {
				singleBtn.classList.toggle('bg-dark');
				doubleBtn.classList.remove('bg-dark');
			} else {
				doubleBtn.classList.toggle('bg-dark');
				singleBtn.classList.remove('bg-dark');
			}
		}
		
		function switchProductsView() {
			localStorage.getItem('view') === 'single' ?
				localStorage.setItem('view', 'double'):
				localStorage.setItem('view', 'single'); 
		}

		for (let b of [singleBtn, doubleBtn]) {
			b.addEventListener('click', ()  => {
				switchProductsView();
				updateBtnStyles();
			});
		}
		
		updateBtnStyles();
		
	});
</script>

