---
import '../styles/global.css';
import SingleView from './SingleView.astro';
import DoubleView from './DoubleView.astro';
---

<div class="flex gap-5 border-1 border-gray-100 rounded-full shadow-xs">
	<button id="single" class="w-12 rounded-full grid place-items-center"> <SingleView /> </button>
	<button id="double" class="w-12 rounded-full grid place-items-center"> <DoubleView /> </button>
</div>

<script type="module">

	document.addEventListener('DOMContentLoaded', () => {

		const singleBtn = document.getElementById('single');
 		const doubleBtn = document.getElementById('double');
		
		const container = document.getElementById('products-container');
		const products = document.getElementsByClassName('product-card');

		function getCurrentView() {
			return localStorage.getItem('view');
		}
		
		function setCurrentView(view) {
			localStorage.setItem('view', view);
		}
		
		function switchProductsView() {
			getCurrentView() === 'double' ?
				setCurrentView('single'):
				setCurrentView('double');	
		}
		
		function styleProductsBig(products) {
			for (let prod of products) {
				prod.classList.remove('small');
			}
		}

		function styleProductsSmall(products) {
			for (let prod of products) {
				prod.classList.add('small');
			}
		}

		function updateBtnStyles() {
			if (localStorage.getItem('view') === 'double' ) {
				doubleBtn.classList.add('bg-dark');
				singleBtn.classList.remove('bg-dark');
			} else {
				singleBtn.classList.add('bg-dark');
				doubleBtn.classList.remove('bg-dark');
			}
		}
		
		function updateView(container, products) {
				if (getCurrentView() === 'double') {
					container.classList.add('double');
					styleProductsSmall(products);
				} else {
					container.classList.remove('double');
					styleProductsBig(products);
				}
		}
	
		for (let btn of [singleBtn, doubleBtn]) {
			btn.addEventListener('click', ()  => {
				switchProductsView();
				updateBtnStyles();
				updateView(container, products);
			});
		}

		updateBtnStyles();
		updateView(container, products);
		
	});

</script>

<style>
	button { transition: all .3s ease-in-out; }	
</style>
